html {
  /* background: linear-gradient(148deg, rgba(159, 255, 151, 1) 0%, rgba(143, 193, 199, 1) 100%); */
  height: max-content;
}

@font-face {
  font-family: 'Eras';
  src: url(fonts/ERASBD.TTF);
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 4em;
}

/* .container {
  border: 2px solid black;
} */

:root {
  --yellow: #ffe13f;
}
